body {
    font-family: Arial, Helvetica, sans-serif
}

table {
    border-collapse: collapse;
}
table, th, td {

}
th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }
th.left, td.left {
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr.contestant td {
    background-color: #f2f2f2;
    font-weight: bold;
}