{% extends "scores/base.html" %}

{% block title %}Contest Detail{% endblock %}
{% block h1 %}Contest Detail{% endblock %}
{% block content %}

    <div class="card">
      <div class="card-body">
        <p>
          {{contest.assoc}}
          {{contest.year}}
          {% if contest.strea %}{{contest.get_stream_display}}{% endif %}
          {{contest.contest}} contest held
          {% if contest.location %}at {{contest.location}}{% endif %}
          {% if contest.date %}on {{contest.date|date:"d M Y"}}{% endif %}
        </p>
        <ul>
            <li>Type: {{contest.get_type_display }}</li>
            <li>Original scoresheet(s):
                <ul>
                    {% for url in contest.contesturl_set.all %}
                    <li><a href="{{url.url}}">{{url.url}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
      </div>
    </div>

    <h2>Contestants</h2>

    {% include "scores/_contestant_table.html" with contestantapps=contest.contestantapp_set.all|dictsortreversed:"tot_score" %}

    <h2>Judges</h2>

    {% regroup contest.judge_set.all|dictsort:"cat" by get_cat_display as judges_by_cat %}

    <div class="row">
      {% for cat in judges_by_cat %}
      <div class="col-md py-1">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ cat.grouper }}</h5>
          </div>
          <div class="card-body">
            {% for judge in cat.list %}
            <p class="card-text">
              <a href="{% url 'scores:person_detail' judge.person.slug %}">{{ judge.person.name }}</a>
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


    <h2>Raw Text</h2>

    {{contest.raw_text}}

{% endblock %}